.features-card{
    min-height: 25rem;
    min-width: 20rem;
    background-color: rgba(255,255,255,0.1) !important;
    
    color: #E60965 !important;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5) !important;
    border-radius: 1rem !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.feature-num{
    color: rgba(0,0,0,0.2);
    font-size: 4rem;
    font-weight: 600;
}

.feature-title{
    font-size: 2rem;
    font-weight: 600;
}